.ball {
    display:inline-block; 
    border-radius:100%; 
    text-align:center; 
    vertical-align:middle; 
    color:#fff; 
    font-weight:500;
    width:60px; 
    height:60px; 
    line-height:56px; 
    font-size:28px
}

.ball1 {
    background:#fbc400
}

.ball2 {
    background:#69c8f2
}

.ball3 {
    background:#ff7272
}

.ball4 {
    background:#aaa
}

.ball5 {
    background:#b0d840
}

.nums { 
    text-align: center;
}

#btn {
    padding: 0;
    font-size: 20px;
    padding: 10px;
}

#btn:focus {
    outline: noen;
    box-shadow: none;
}